<div class="et_pb_column et_pb_column_1_3  et_pb_column_8" style="margin-right: 5.5% !important">

  <div class="et_pb_code et_pb_module  et_pb_code_2">
    <ul>
      <li>Contratante</li>
      <hr style="height:1px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;" />
    </ul>
  </div>
  <script>
      
  </script>
  <!-- .et_pb_code -->
  <div class="et_pb_blurb et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_blurb_0 et_pb_blurb_position_left">
    <div class="et_pb_blurb_content">
      <div class="et_pb_main_blurb_image"><span class="et-pb-icon et-waypoint et_pb_animation_off" style="color: #7cda24;">&#xe0f3;</span></div>
      <div class="et_pb_blurb_container">
        <h4>Dados do Contratante</h4>
            {{log data.lead_produto_agregado}}
        <div class="col s12">
          <div class="col s12"><strong>Nome:</strong> {{data.lead_nome}}<br />
            <strong>Sexo:</strong>{{data.lead_sexo}}<br />
            <strong>Data de Nascimento:</strong> {{ data.lead_nascimento }}<br />
            <strong>Nome da Mãe:</strong> {{data.lead_mae}}<br />
            <strong>Rua:</strong>{{data.lead_logradouro}}<br />
            <strong>Numero:</strong>{{data.lead_numero}}<br />
            <strong>Complemento:</strong>{{data.complemento}}<br />
            <strong>Bairro: </strong>{{data.lead_bairro}}<br />
            <strong>Cidade:</strong> {{data.lead_cidade}}<br />
            <strong>Estado:</strong> {{data.lead_uf}}</div>
        </div>
        <div class="col s12"><strong>Data da Contratação:</strong> {{data.lead_produto_agregado.0.financeiro_contratacao.0.data_contratacao}}<br /> .
        </div>
        <div class="col s12"><strong>Valor total da mensalidade:</strong> R$ {{data.lead_produto_agregado.0.financeiro_contratacao.0.valor_mensal}}</div>
        <div class="col s12"><strong>Dia de vencimento da mensalidade:</strong> {{data.lead_produto_agregado.0.financeiro_contratacao.0.dia_recorrencia}}</div>

      </div>
    </div>
    <!-- .et_pb_blurb_content -->
  </div>
  <!-- .et_pb_blurb -->
  <div class="et_pb_module et_pb_space et_pb_divider_2 et-hide-mobile"></div>
  <div class="et_pb_code et_pb_module  et_pb_code_3">
    <ul>
      <li>Contrato</li>
      <hr style="height:1px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;" />
    </ul>
  </div>
  <!-- .et_pb_code -->
  <div class="et_pb_blurb et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_blurb_1 et_pb_blurb_position_left">
    <div class="et_pb_blurb_content">
      <div class="et_pb_main_blurb_image"><a href="#"><span class="et-pb-icon et-waypoint et_pb_animation_off et-pb-icon-circle" style="color: #ffffff; background-color: #7cda24;">&#xe0f7;</span></a></div>
      <div class="et_pb_blurb_container">
        <h4><a href="#">Plano AB Dental</a></h4>

      </div>
    </div>
    <!-- .et_pb_blurb_content -->
  </div>
  <!-- .et_pb_blurb -->
  <div class="et_pb_module et_pb_space et_pb_divider_3 et-hide-mobile"></div>
</div>