{{#each data.lead_produto_agregado.0.lead_produto_agregado_itens as |bene index|}}
<div class="et_pb_blurb et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_blurb_2 et_pb_blurb_position_left">
  <div class="et_pb_blurb_content">
    <div class="et_pb_main_blurb_image"><span class="et-pb-icon et-waypoint et_pb_animation_off et-animated" style="color: #7cda24;"></span></div>
    <div class="et_pb_blurb_container">
      <h4>Plano AB Dental {{increment index }}
        {{!--<button id="editBene_{{index}}" class="btn btn-default btn-xs" {{action "enableToEdit" bene.lead_agregado index}}>Editar</button>
        <button id="saveBene_{{index}}" style="display: none; background: #7cda24 !important; border:none;" class="btn btn-success btn-xs" {{action "saveBene" index}}>Salvar</button>--}}
      </h4>
      <div class="col s12">
        <div class="col s12">
          <strong>Nome:</strong>&nbsp;
          <spam id="lead_agregado_nome_{{index}}">{{bene.lead_agregado.lead_agregado_nome}}</spam><br>
          <strong>Sexo:</strong>&nbsp;
          <spam id="lead_agregado_sexo_{{index}}">{{bene.lead_agregado.lead_agregado_sexo}}</spam><br>
          <strong>Data de Nascimento:</strong>&nbsp;
          <spam id="lead_agregado_nascimento_{{index}}" {{action "maskDate" index}}>{{bene.lead_agregado.lead_agregado_nascimento}}</spam><br>
          <strong>Nome da Mãe:</strong>&nbsp;
          <spam id="lead_agregado_mae_{{index}}">{{bene.lead_agregado.lead_agregado_mae}}</spam>
        </div>
      </div>

    </div>
  </div>
  <!-- .et_pb_blurb_content -->
</div>
{{/each}}