<div class="et_pb_section  et_pb_section_3 et_pb_with_background et_section_regular">
  <div class=" et_pb_row et_pb_row_2">

    <div class="et_pb_column et_pb_column_4_4  et_pb_column_2">

      <div class="et_pb_promo et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_cta_2 et_pb_no_bg">
        <div class="et_pb_promo_description">
          <p style="text-align: center;">Antes do vencimento da fatura você já estará no plano.</p>
        </div>

      </div>
      <div class="et_pb_module et_pb_space et_pb_divider_0 et-hide-mobile"></div>
    </div>
    <!-- .et_pb_column -->

  </div>
  <!-- .et_pb_row -->
  <div class=" et_pb_row et_pb_row_3">

    <div class="et_pb_column et_pb_column_1_2  et_pb_column_3">

      <div class="et_pb_number_counter et_pb_module et_pb_bg_layout_light  et_pb_number_counter_0" data-number-value="153">
        <div class="percent" style="color:#8300e9">
          <p><span class="counter_1">123</span></p>
        </div>
        <h3>Dias para processar a entrada no plano.</h3>
      </div>
      <!-- .et_pb_number_counter -->
      <div class="et_pb_module et_pb_space et_pb_divider_1 et-hide-mobile"></div>
    </div>
    <!-- .et_pb_column -->
    <div class="et_pb_column et_pb_column_1_2  et_pb_column_4">

      <div class="et_pb_number_counter et_pb_module et_pb_bg_layout_light  et_pb_number_counter_1" data-number-value="123">
        <div class="percent" style="color:#8300e9">
          <p><span class="counter_2">254</span></p>
        </div>
        <h3>Dias para vencer sua fatura.</h3>
      </div>
      <!-- .et_pb_number_counter -->
    </div>
    <!-- .et_pb_column -->

  </div>
  <!-- .et_pb_row -->
  <div class=" et_pb_row et_pb_row_4">

    <div class="et_pb_column et_pb_column_4_4  et_pb_column_5">

      <div class="et_pb_promo et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_cta_3 et_pb_no_bg">
        <div class="et_pb_promo_description">


          <p style="text-align: center;">O processamento é o tempo que a MetLife leva para inserir você na rede de dentistas.<br /> Se quiser acelerar a
            inclusão é só realizar o pagamento antes da data. Você antecipará seu vencimento e será incluso no dia seguinte.</p>

        </div>

      </div>
    </div>
    <!-- .et_pb_column -->

  </div>
  <!-- .et_pb_row -->

</div>