<div class="et_pb_column et_pb_column_1_3  et_pb_column_10">

    <div class="et_pb_code et_pb_module  et_pb_code_5">
        <ul>
            <li>Status de Pagamento</li>
            <hr style="height:1px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;" />
        </ul>
    </div>
    <!-- .et_pb_code -->
    <div id="list_parcelas" class="et_pb_blurb et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_blurb_6 et_pb_blurb_position_left">
        {{ listparcelas data.lead_produto_agregado.0.financeiro_contratacao.0.financeiro_cobranca }}
        <!-- .et_pb_blurb_content -->
    </div>
    {{#if data.lead_produto_agregado.0.financeiro_contratacao.0.eh_cartao }}
    <!-- .et_pb_blurb -->
    <div class="et_pb_module et_pb_space et_pb_divider_5 et-hide-mobile"></div>
    <div class="et_pb_number_counter et_pb_module et_pb_bg_layout_light  et_pb_number_counter_2" data-number-value="15">
        <div class="percent" style="{{ frasediasparavencercolor data.lead_produto_agregado.0.financeiro_contratacao.0.financeiro_cobranca }}">
            <p><span class="counter_3">{{getlastcobdiasparavencer data.lead_produto_agregado.0.financeiro_contratacao.0.financeiro_cobranca }}</span></p>
        </div>
        <h3>{{frasediasparavencer  data.lead_produto_agregado.0.financeiro_contratacao.0.financeiro_cobranca}}</h3>
    </div>
    <!-- .et_pb_number_counter -->
    <div class="et_pb_button_module_wrapper et_pb_module et_pb_button_alignment_center">
        <a class="et_pb_button  et_pb_button_0 et_pb_module et_pb_bg_layout_light" href="https://pag.ag/{{ getlastcob data.lead_produto_agregado.0.financeiro_contratacao.0.financeiro_cobranca }}" 
        style="{{ frasediasparavencercolorbutton data.lead_produto_agregado.0.financeiro_contratacao.0.financeiro_cobranca }}">Acessar Boleto</a>
    </div>
    {{/if}}
</div>