<head>
  <meta charset="UTF-8" />
  <!--[if lt IE 9]>
	<script src="http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/js/html5.js" type="text/javascript"></script>
	<![endif]-->
  <script type="text/javascript">
    document.documentElement.className = 'js';
  </script>
  <title>AgenteBrasil MetLife</title>
  <meta name='robots' content='noindex,follow' />
  <link rel='dns-prefetch' href='//fonts.googleapis.com' />
  <link rel='dns-prefetch' href='//s.w.org' />
  <link rel="alternate" type="application/rss+xml" title="AgenteBrasil MetLife &raquo; Feed" href="http://agentebrasil.com/word2/wordpress/index.php/feed/"
  />
  <link rel="alternate" type="application/rss+xml" title="AgenteBrasil MetLife &raquo; Comments Feed" href="http://agentebrasil.com/word2/wordpress/index.php/comments/feed/"
  />
  <script type="text/javascript">
    window._wpemojiSettings = {
      "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/",
      "ext": ".png",
      "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/",
      "svgExt": ".svg",
      "source": {
        "concatemoji": "http:\/\/agentebrasil.com\/word2\/wordpress\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.3"
      }
    };
  </script>
  <meta content="Divi v.3.0.34" name="generator" />
  <style type="text/css">
    img.wp-smiley,
    img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }
  </style>
  <link rel='stylesheet' id='et-gf-open-sans-css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' type='text/css'
    media='all' />
  <link rel='stylesheet' id='divi-fonts-css' href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,latin-ext'
    type='text/css' media='all' />
  <link rel='stylesheet' id='et-gf-source-sans-pro-css' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic&#038;subset=latin,latin-ext'
    type='text/css' media='all' />
  <link rel='stylesheet' id='et-shortcodes-css-css' href='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes.css?ver=3.0.34'
    type='text/css' media='all' />
  <link rel='stylesheet' id='et-shortcodes-responsive-css-css' href='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes_responsive.css?ver=3.0.34'
    type='text/css' media='all' />
  <link rel='stylesheet' id='magnific-popup-css' href='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/styles/magnific_popup.css?ver=3.0.34'
    type='text/css' media='all' />
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://agentebrasil.com/word2/wordpress/xmlrpc.php?rsd"
  />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://agentebrasil.com/word2/wordpress/wp-includes/wlwmanifest.xml"
  />
  <meta name="generator" content="WordPress 4.7.3" />
  <link rel="canonical" href="http://agentebrasil.com/word2/wordpress/index.php/wellcome_ml/" />
  <link rel='shortlink' href='http://agentebrasil.com/word2/wordpress/?p=1307' />
  <link rel="alternate" type="application/json+oembed" href="http://agentebrasil.com/word2/wordpress/index.php/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fagentebrasil.com%2Fword2%2Fwordpress%2Findex.php%2Fwellcome_ml%2F"
  />
  <link rel="alternate" type="text/xml+oembed" href="http://agentebrasil.com/word2/wordpress/index.php/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fagentebrasil.com%2Fword2%2Fwordpress%2Findex.php%2Fwellcome_ml%2F&#038;format=xml"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js" type="text/javascript"></script>
  <style>
    body.custom-background {
      background-color: #ededed;
    }
    
    .input_c {
      padding: 1px;
      border: none;
      border-bottom: solid 2px #c9c9c9;
      transition: border 0.3s;
    }
  </style>

  <style type="text/css" id="et-social-custom-css">

  </style>
  <style type="text/css" id="et-bloom-custom-css">
    .et_bloom .et_bloom_optin_1 .et_bloom_form_content {
      background-color: #16538c !important;
    }
    
    .et_bloom .et_bloom_optin_1 .et_bloom_form_container .et_bloom_form_header {
      background-color: #16538c !important;
    }
    
    .et_bloom .et_bloom_optin_1 .et_bloom_form_container {
      background-color: #16538c !important;
    }
    
    .et_bloom .et_bloom_optin_1 .et_bloom_form_content button {
      background-color: #353637 !important;
    }
    
    .et_bloom .et_bloom_optin_1 .et_bloom_border_dashed .et_bloom_form_container_wrapper {
      border-color: #ffffff !important
    }
    
    .et_bloom .et_bloom_optin_1 .et_bloom_form_content button {
      background-color: #353637 !important;
    }
    
    .et_bloom .et_bloom_optin_1 h2,
    .et_bloom .et_bloom_optin_1 h2 span,
    .et_bloom .et_bloom_optin_1 h2 strong {
      font-family: "Source Sans Pro", Helvetica, Arial, Lucida, sans-serif;
    }
    
    .et_bloom .et_bloom_optin_1 p,
    .et_bloom .et_bloom_optin_1 p span,
    .et_bloom .et_bloom_optin_1 p strong,
    .et_bloom .et_bloom_optin_1 form input,
    .et_bloom .et_bloom_optin_1 form button span {
      font-family: "Source Sans Pro", Helvetica, Arial, Lucida, sans-serif;
    }
    
    .et_bloom .et_bloom_optin_2 .et_bloom_form_content {
      background-color: #16538c !important;
    }
    
    .et_bloom .et_bloom_optin_2 .et_bloom_form_container .et_bloom_form_header {
      background-color: #16538c !important;
    }
    
    .et_bloom .et_bloom_optin_2 .et_bloom_form_container {
      background-color: #16538c !important;
    }
    
    .et_bloom .et_bloom_optin_2 .et_bloom_form_content button {
      background-color: #353637 !important;
    }
    
    .et_bloom .et_bloom_optin_2 .et_bloom_border_dashed .et_bloom_form_container_wrapper {
      border-color: #ffffff !important
    }
    
    .et_bloom .et_bloom_optin_2 .et_bloom_form_content button {
      background-color: #353637 !important;
    }
    
    .et_bloom .et_bloom_optin_2 h2,
    .et_bloom .et_bloom_optin_2 h2 span,
    .et_bloom .et_bloom_optin_2 h2 strong {
      font-family: "Source Sans Pro", Helvetica, Arial, Lucida, sans-serif;
    }
    
    .et_bloom .et_bloom_optin_2 p,
    .et_bloom .et_bloom_optin_2 p span,
    .et_bloom .et_bloom_optin_2 p strong,
    .et_bloom .et_bloom_optin_2 form input,
    .et_bloom .et_bloom_optin_2 form button span {
      font-family: "Source Sans Pro", Helvetica, Arial, Lucida, sans-serif;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <style id="theme-customizer-css">
    body .et_pb_button,
    .woocommerce a.button.alt,
    .woocommerce-page a.button.alt,
    .woocommerce button.button.alt,
    .woocommerce-page button.button.alt,
    .woocommerce input.button.alt,
    .woocommerce-page input.button.alt,
    .woocommerce #respond input#submit.alt,
    .woocommerce-page #respond input#submit.alt,
    .woocommerce #content input.button.alt,
    .woocommerce-page #content input.button.alt,
    .woocommerce a.button,
    .woocommerce-page a.button,
    .woocommerce button.button,
    .woocommerce-page button.button,
    .woocommerce input.button,
    .woocommerce-page input.button,
    .woocommerce #respond input#submit,
    .woocommerce-page #respond input#submit,
    .woocommerce #content input.button,
    .woocommerce-page #content input.button,
    .woocommerce-message a.button.wc-forward {
      font-weight: bold;
      font-style: normal;
      text-transform: none;
      text-decoration: none;
      ;
    }
    
    @media only screen and ( min-width: 981px) {
      .et_header_style_centered.et_hide_primary_logo #main-header:not(.et-fixed-header) .logo_container,
      .et_header_style_centered.et_hide_fixed_logo #main-header.et-fixed-header .logo_container {
        height: 11.88px;
      }
    }
    
    @media only screen and ( min-width: 1350px) {
      .et_pb_row {
        padding: 27px 0;
      }
      .et_pb_section {
        padding: 54px 0;
      }
      .single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper {
        padding-top: 81px;
      }
      .et_pb_section.et_pb_section_first {
        padding-top: inherit;
      }
      .et_pb_fullwidth_section {
        padding: 0;
      }
    }
    
    @media only screen and ( max-width: 980px) {
      #main-header,
      #main-header .nav li ul,
      .et-search-form,
      #main-header .et_mobile_menu {
        background-color: #191919;
      }
    }
    
    @media only screen and ( max-width: 767px) {}
  </style>


  <style class="et_heading_font">
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
    }
  </style>
  <style class="et_body_font">
    body,
    input,
    textarea,
    select {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
    }
  </style>
  <style class="et_all_buttons_font">
    .et_pb_button {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
    }
  </style>


  <style id="module-customizer-css">

  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

</head>

<body class="page-template-default page page-id-1307 custom-background et_monarch et_bloom et_pb_button_helper_class et_fixed_nav et_hide_nav et_hide_primary_logo et_hide_fixed_logo et_hide_mobile_logo et_cover_background et_pb_gutter linux et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar et_divi_theme unknown">
  <div id="page-container" style="padding-top:0px !important;">

    <div id="et-main-area">
      <div id="main-content">



        <article id="post-1307" class="post-1307 page type-page status-publish hentry">


          <div class="entry-content">
            <div class="et_pb_section et_pb_fullwidth_section  et_pb_section_0 et_section_regular">



              <div class="et_pb_module et_pb_slider et_slider_auto et_slider_speed_4000 et_slider_auto_ignore_hover  et_pb_fullwidth_slider_0">
                <div class="et_pb_slides">
                  <div class="et_pb_slide et_pb_slide_with_image et_pb_bg_layout_dark et_pb_media_alignment_center et_pb_slide_0 et-pb-active-slide"
                    style='background-color:#272f38;background-image:url(http://agentebrasil.com/word2/wordpress/wp-content/uploads/2017/03/m_call.jpg);'>


                    <div class="et_pb_container clearfix">
                      <div class="et_pb_slider_container_inner">
                        <div class="et_pb_slide_image"><img src="http://agentebrasil.com/word2/wordpress/wp-content/uploads/2017/03/elemento-02.png" alt=""
                          /></div>
                        <div class="et_pb_slide_description">

                          <div class="et_pb_slide_content"> </div>

                        </div>
                        <!-- .et_pb_slide_description -->
                      </div>
                    </div>
                    <!-- .et_pb_container -->

                  </div>
                  <!-- .et_pb_slide -->
                  <div class="et_pb_slide et_pb_slide_with_image et_pb_bg_layout_dark et_pb_media_alignment_center et_pb_slide_1" style='background-color:rgba(39,47,56,0.4);background-image:url(http://agentebrasil.com/word2/wordpress/wp-content/uploads/2017/03/m_apontando.jpg);'>


                    <div class="et_pb_container clearfix">
                      <div class="et_pb_slider_container_inner">
                        <div class="et_pb_slide_image"><img src="http://agentebrasil.com/word2/wordpress/wp-content/uploads/2017/03/elemento-04.png" alt=""
                          /></div>
                        <div class="et_pb_slide_description">

                          <div class="et_pb_slide_content"> </div>

                        </div>
                        <!-- .et_pb_slide_description -->
                      </div>
                    </div>
                    <!-- .et_pb_container -->

                  </div>
                  <!-- .et_pb_slide -->
                  <div class="et_pb_slide et_pb_slide_with_image et_pb_bg_layout_dark et_pb_media_alignment_center et_pb_slide_2" style='background-color:rgba(39,47,56,0.4);background-image:url(http://agentebrasil.com/word2/wordpress/wp-content/uploads/2017/03/casal.jpg);'>


                    <div class="et_pb_container clearfix">
                      <div class="et_pb_slider_container_inner">
                        <div class="et_pb_slide_image"><img src="http://agentebrasil.com/word2/wordpress/wp-content/uploads/2017/03/elemento-01.png" alt=""
                          /></div>
                        <div class="et_pb_slide_description">

                          <div class="et_pb_slide_content"> </div>

                        </div>
                        <!-- .et_pb_slide_description -->
                      </div>
                    </div>
                    <!-- .et_pb_container -->

                  </div>
                  <!-- .et_pb_slide -->

                </div>
                <!-- .et_pb_slides -->
              </div>
              <!-- .et_pb_slider -->
              <div class="et_pb_module et-waypoint et_pb_fullwidth_image et_pb_animation_off  et_pb_fullwidth_image_0">
                <img src="http://agentebrasil.com/word2/wordpress/wp-content/uploads/2017/03/m_35k.jpg" alt="" />

              </div>

            </div>
            <!-- .et_pb_section -->
            <div class="et_pb_section  et_pb_section_1 et_pb_with_background et_section_regular">



              <div class=" et_pb_row et_pb_row_0">

                <div class="et_pb_column et_pb_column_4_4  et_pb_column_0">

                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_cta_0 et_pb_no_bg">
                    <div class="et_pb_promo_description">


                      <p style="text-align: center;"><strong>{{model.0.fist_name}}</strong>. Bem-Vindo à <strong>Agente Brasil</strong> e à <strong>MetLife</strong>.</p>

                    </div>

                  </div>
                </div>
                <!-- .et_pb_column -->

              </div>
              <!-- .et_pb_row -->

            </div>
            <!-- .et_pb_section -->
            <div class="et_pb_section  et_pb_section_2 et_pb_with_background et_section_regular">



              <div class=" et_pb_row et_pb_row_1">

                <div class="et_pb_column et_pb_column_4_4  et_pb_column_1">

                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_cta_1 et_pb_no_bg">
                    <div class="et_pb_promo_description">


                      <p style="text-align: center;">Confira tudo<strong> </strong>sobre o <strong>seu plano ;))</strong></p>

                    </div>

                  </div>

                  <div class="et_pb_code et_pb_module  et_pb_code_0">
                    <script>
                      function countUp(name_class) {
                        var vet = Math.abs($(name_class).text());
                        $(name_class).text(1);
                        $(name_class).css('visibility', 'visible');
                        setTimeout(function () {
                          var i = 0;
                          while (vet - 1 > i) {
                            setTimeout(function () {
                              current = $(name_class).text();
                              current++;
                              $(name_class).text(current);
                            }, 3000);
                            i++;
                          }
                        }, 300); //.fadeIn("slow");
                      }

                      jQuery(document).ready(function ($) {
                        jQuery('#main-header').remove();
                        countUp('.counter_1');
                        countUp('.counter_2');
                        countUp('.counter_3');
                      });
                    </script>
                  </div>
                  <!-- .et_pb_code -->
                </div>
                <!-- .et_pb_column -->

              </div>
              <!-- .et_pb_row -->

            </div>
            {{#each model as |contratacao|}}
            <!-- .et_pb_section -->
            {{!--{{#if contratacao.lead_produto_agregado.0.financeiro_contratacao.0.hr_boleto}} {{hr-boleto data=contratacao}} {{/if}}--}}
            <!-- .et_pb_section -->
            <div class="et_pb_section  et_pb_section_4 et_section_regular">

              <div class=" et_pb_row et_pb_row_5">

                <div class="et_pb_column et_pb_column_1_2  et_pb_column_6">

                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_cta_4 et_pb_no_bg">
                    <div class="et_pb_promo_description">


                      <p style="text-align: left;">Dados da Contratação</p>

                    </div>

                  </div>
                </div>
                <!-- .et_pb_column -->
                <div class="et_pb_column et_pb_column_1_2  et_pb_column_7">

                  <div class="et_pb_code et_pb_module  et_pb_code_1">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fagentebrasiloficial%2F&width=79&layout=box_count&action=like&show_faces=true&share=false&height=65&appId"
                      width="79" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                  </div>
                  <!-- .et_pb_code -->
                </div>
                <!-- .et_pb_column -->

              </div>
              <!-- .et_pb_row -->
              <div class=" et_pb_row et_pb_row_6">
                {{dados-contratante data=contratacao}}
                <div class="et_pb_column et_pb_column_1_3  et_pb_column_9">

                  <div class="et_pb_code et_pb_module  et_pb_code_4">
                    <ul>
                      <li>Planos Contratados</li>
                      <hr style="height:1px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;">
                    </ul>
                  </div>

                  {{dados-beneficiario data=contratacao}}

                  <!-- <div style="margin-top: 29.9px;" class="et_pb_blurb et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_blurb_5 et_pb_blurb_position_left">
                    <div class="et_pb_blurb_content">
                      <div class="et_pb_main_blurb_image"><span class="et-pb-icon et-waypoint et_pb_animation_off et-animated" style="color: #8300e9;"></span></div>
                      <div class="et_pb_blurb_container">
                        <h4><a href="#" id="pedidoSac_">Adicionar Beneficiário</a></h4>

                        <p>Por mais R$ 36,60 você adiciona um beneficiário. Aproveite!</p>

                      </div>
                    </div>
        
                  </div>-->
                  <!-- .et_pb_blurb -->
                  <div class="et_pb_module et_pb_space et_pb_divider_4 et-hide-mobile"></div>
                </div>
                <!-- .et_pb_column -->
                {{info-plano data=contratacao}}
                <!-- .et_pb_column -->

              </div>
              <!-- .et_pb_row -->

            </div>
            {{/each}}
            <!-- .et_pb_section -->
            <div class="et_pb_section  et_pb_section_5 et_pb_with_background et_section_regular">



              <div class=" et_pb_row et_pb_row_7">

                <div class="et_pb_column et_pb_column_4_4  et_pb_column_11">

                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_cta_5 et_pb_no_bg">
                    <div class="et_pb_promo_description">


                      <p>Dados do Plano</p>

                    </div>

                  </div>
                  <div class="et_pb_code et_pb_module  et_pb_code_6">
                    <ul>
                      <hr style="height:1px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;" />
                    </ul>
                  </div>
                  <!-- .et_pb_code -->
                </div>
                <!-- .et_pb_column -->

              </div>
              <!-- .et_pb_row -->
              <div class=" et_pb_row et_pb_row_8">

                <div class="et_pb_column et_pb_column_1_2  et_pb_column_12">

                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_cta_6 et_pb_no_bg">
                    <div class="et_pb_promo_description">


                      <p style="text-align: left;"><strong>Plano AB Dental</strong></p>

                    </div>

                  </div>
                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_cta_7 et_pb_no_bg">
                    <div class="et_pb_promo_description">


                      <p><strong>Operadora:</strong> METLIFE</p>
                      <p><strong>Abrangência: </strong>Nacional</p>
                      <p><strong>Opções de Atendimento:</strong> + de 35 mil</p>
                      <p><strong>Cobertura:</strong> + de 190 procedimentos (Rol ANS)</p>
                      <p><strong>Carência <span style="font-size: 15px;">(a contar da inclusão)</span></strong>
                        <strong style="font-size: 15px;">:</strong>
                      </p>
                      <p>24h para Urgência e Emergência</p>
                      <p>6 meses apenas para Próteses do Rol ANS</p>
                      <p>3 meses para os demais procedimentos</p>
                      <p><strong style="font-size: 15px;">Sem Coparticipação</strong></p>

                    </div>

                  </div>
                </div>
                <!-- .et_pb_column -->
                <div class="et_pb_column et_pb_column_1_2  et_pb_column_13">

                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_cta_8 et_pb_no_bg">
                    <div class="et_pb_promo_description">


                      <p style="text-align: left;"><strong>Como utilizar o plano?</strong></p>

                    </div>

                  </div>
                  <div class="et_pb_module et_pb_space et_pb_divider_6 et-hide-mobile"></div>
                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_cta_9 et_pb_no_bg">
                    <div class="et_pb_promo_description">


                      <p style="text-align: left;"><strong>1.</strong>&nbsp;Mantenha o plano sempre em dia.&nbsp;<span style="font-size: large;">
                        </span>
                      </p>

                    </div>

                  </div>
                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_cta_10 et_pb_no_bg">
                    <div class="et_pb_promo_description">


                      <p style="text-align: left;"><strong>2.</strong> Fique atento às carências.</p>

                    </div>

                  </div>
                  <div class="et_pb_module et_pb_accordion  et_pb_accordion_0">
                    <div class="et_pb_module et_pb_toggle et_pb_toggle_open  et_pb_accordion_item_0">
                      <h5 class="et_pb_toggle_title">CARÊNCIAS</h5>
                      <div class="et_pb_toggle_content clearfix">

                        <h5 class="et_pb_toggle_title et-fb-editable-element et-fb-editable-element et-fb-editable-element__editing" data-shortcode-id="4.1.1.4.0-1490398929980">A partir da inclusão.</h5>

                      </div>
                      <!-- .et_pb_toggle_content -->
                    </div>
                    <!-- .et_pb_toggle -->
                    <div class="et_pb_module et_pb_toggle et_pb_toggle_close  et_pb_accordion_item_1">
                      <h5 class="et_pb_toggle_title">24 horas</h5>
                      <div class="et_pb_toggle_content clearfix">

                        <ul>
                          <li>Urgências</li>
                          <li>Emergência</li>
                        </ul>

                      </div>
                      <!-- .et_pb_toggle_content -->
                    </div>
                    <!-- .et_pb_toggle -->
                    <div class="et_pb_module et_pb_toggle et_pb_toggle_close  et_pb_accordion_item_2">
                      <h5 class="et_pb_toggle_title">90 dias</h5>
                      <div class="et_pb_toggle_content clearfix">
                        <ul>
                          <li>Consultas e Diagnósticos</li>
                          <li>Dentística (restaurações)</li>
                          <li>Odontopediatria</li>
                          <li>Periodontia (Tratamento de Gengiva)</li>
                          <li>Endodontia (Tratamento de canal)</li>
                          <li>Radiologia (Raios-X Intra-orais e Raio-X Panorâmico)</li>
                          <li>Cirurgias (Extrações e cirurgias ambulatoriais)</li>
                        </ul>
                      </div>
                      <!-- .et_pb_toggle_content -->
                    </div>
                    <!-- .et_pb_toggle -->
                    <div class="et_pb_module et_pb_toggle et_pb_toggle_close  et_pb_accordion_item_3">
                      <h5 class="et_pb_toggle_title">180 dias</h5>
                      <div class="et_pb_toggle_content clearfix">
                        <ul>
                          <li>Próteses Unitárias</li>
                          <li>Coroa provisória</li>
                          <li>Restauração/coroa metálica</li>
                          <li>Coroa em cerômero para dentes anteriores</li>
                          <li>Núcleo metálico fundido e pinos pré-fabricados.</li>
                        </ul>
                      </div>
                      <!-- .et_pb_toggle_content -->
                    </div>
                    <!-- .et_pb_toggle -->
                  </div>
                  <!-- .et_pb_accordion -->
                  <div class="et_pb_module et_pb_space et_pb_divider_7 et-hide-mobile"></div>
                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_cta_11 et_pb_no_bg">
                    <div class="et_pb_promo_description">


                      <p style="text-align: left;"><strong>3.</strong> Escolha um dentista próximo de você. <span style="font-size: large;"><strong><a href="http://redecredenciada.metlife.com.br/v4/" target="_blank">Pesquisar Dentistas</a></strong></span></p>

                    </div>

                  </div>
                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_cta_12 et_pb_no_bg">
                    <div class="et_pb_promo_description">


                      <p style="text-align: left;"><strong>4.</strong> Ligue, marque a consulta e vá ao dentista.</p>

                    </div>

                  </div>
                </div>
                <!-- .et_pb_column -->

              </div>
              <!-- .et_pb_row -->

            </div>
            <!-- .et_pb_section -->
            <div class="et_pb_section  et_pb_section_6 et_pb_with_background et_section_regular et_section_transparent">



              <div class=" et_pb_row et_pb_row_9">

                <div class="et_pb_column et_pb_column_4_4  et_pb_column_14">

                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_cta_13 et_pb_no_bg">
                    <div class="et_pb_promo_description">


                      <p style="text-align: center;"><strong>Quando precisar,</strong> é só chamar!</p>

                    </div>

                  </div>
                </div>
                <!-- .et_pb_column -->

              </div>
              <!-- .et_pb_row -->
              <div class=" et_pb_row et_pb_row_10">

                <div class="et_pb_column et_pb_column_1_3  et_pb_column_15">

                  <div class="et_pb_blurb et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_blurb_7 et_pb_blurb_position_top">
                    <div class="et_pb_blurb_content">
                      <div class="et_pb_main_blurb_image"><span class="et-pb-icon et-waypoint et_pb_animation_off" style="color: #ffffff;">&#xe090;</span></div>
                      <div class="et_pb_blurb_container">


                      </div>
                    </div>
                    <!-- .et_pb_blurb_content -->
                  </div>
                  <!-- .et_pb_blurb -->
                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_cta_14 et_pb_no_bg">
                    <div class="et_pb_promo_description">
                      <h2>Telefone</h2>
                    </div>
                    <a class="et_pb_promo_button et_pb_button" href="tel:0800-0082665">0800 008 2665</a>
                  </div>
                  <div class="et_pb_module et_pb_space et_pb_divider_8 et-hide-mobile"></div>
                </div>
                <!-- .et_pb_column -->
                <div class="et_pb_column et_pb_column_1_3  et_pb_column_16">

                  <div class="et_pb_blurb et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_blurb_8 et_pb_blurb_position_top">
                    <div class="et_pb_blurb_content">
                      <div class="et_pb_main_blurb_image"><span class="et-pb-icon et-waypoint et_pb_animation_off" style="color: #ffffff;">&#x77;</span></div>
                      <div class="et_pb_blurb_container">


                      </div>
                    </div>
                    <!-- .et_pb_blurb_content -->
                  </div>
                  <!-- .et_pb_blurb -->
                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_cta_15 et_pb_no_bg">
                    <div class="et_pb_promo_description">
                      <h2>E-mail + Chat</h2>

                    </div>
                    <a class="et_pb_promo_button et_pb_button" href="mailto:ab@agentebrasil.com.br?subject=Contato Área do Cliente">Enviar E-mail</a>
                  </div>
                  <div class="et_pb_module et_pb_space et_pb_divider_9 et-hide-mobile"></div>
                </div>
                <!-- .et_pb_column -->
                <div class="et_pb_column et_pb_column_1_3  et_pb_column_17">

                  <div class="et_pb_blurb et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_blurb_9 et_pb_blurb_position_top">
                    <div class="et_pb_blurb_content">
                      <div class="et_pb_main_blurb_image"><span class="et-pb-icon et-waypoint et_pb_animation_off" style="color: #ffffff;">&#xe093;</span></div>
                      <div class="et_pb_blurb_container">


                      </div>
                    </div>
                    <!-- .et_pb_blurb_content -->
                  </div>
                  <!-- .et_pb_blurb -->
                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_cta_16 et_pb_no_bg">
                    <div class="et_pb_promo_description">
                      <h2>Facebook</h2>

                    </div>
                    <a class="et_pb_promo_button et_pb_button" href="https://www.facebook.com/agentebrasiloficial/">Ir ao Facebook</a>
                  </div>
                  <div class="et_pb_code et_pb_module  et_pb_code_7">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fagentebrasiloficial%2F&width=174&layout=button_count&action=like&show_faces=true&share=false&height=46&appId"
                      width="174" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                  </div>
                  <!-- .et_pb_code -->
                </div>
                <!-- .et_pb_column -->

              </div>
              <!-- .et_pb_row -->

            </div>
            <!-- .et_pb_section -->
            <div class="et_pb_section  et_pb_section_7 et_pb_with_background et_section_regular">



              <div class=" et_pb_row et_pb_row_11">

                <div class="et_pb_column et_pb_column_4_4  et_pb_column_18">

                  <div class="et_pb_promo et_pb_module et_pb_bg_layout_dark et_pb_text_align_center  et_pb_cta_17 et_pb_no_bg">
                    <div class="et_pb_promo_description">


                      <p style="text-align: left;">Dúvidas<strong> Frequentes (?)</strong></p>

                    </div>

                  </div>
                </div>
                <!-- .et_pb_column -->

              </div>
              <!-- .et_pb_row -->
              <div class=" et_pb_row et_pb_row_12">

                <div class="et_pb_column et_pb_column_1_3  et_pb_column_19">
                  <!-- .et_pb_blurb -->
                  <div class="et_pb_blurb et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_blurb_11 et_pb_blurb_position_left">
                    <div class="et_pb_blurb_content">

                      <div class="et_pb_blurb_container">
                        <h4>Paguei. Já posso ser atendido?</h4>

                        <p>24h da data de adesão você já poderá ser atendido no caso de uma urgência / emergência. Mais de 90%
                          dos procedimentos têm carência de só 3 meses. Confira tabela acima.</p>

                      </div>
                    </div>
                    <!-- .et_pb_blurb_content -->
                  </div>
                  <!-- .et_pb_blurb -->
                </div>
                <!-- .et_pb_column -->
                <div class="et_pb_column et_pb_column_1_3  et_pb_column_20">

                  <div class="et_pb_blurb et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_blurb_12 et_pb_blurb_position_left">
                    <div class="et_pb_blurb_content">

                      <div class="et_pb_blurb_container">
                        <h4>O que preciso para ser atendido?</h4>

                        <p>Para ser atendido, você precisa apresentar seu CPF com foto. Poderá utilizar também a carteirinha
                          virtual através do aplicativo METLIFE.</p>

                      </div>
                    </div>
                    <!-- .et_pb_blurb_content -->
                  </div>
                  <!-- .et_pb_blurb -->
                  <div class="et_pb_blurb et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_blurb_13 et_pb_blurb_position_left">
                    <div class="et_pb_blurb_content">

                      <div class="et_pb_blurb_container">
                        <h4>Como eu agendo uma consulta?</h4>

                        <p>Você escolhe um dos dentistas da rede, liga e marca a consulta. Simples assim! Escolhe, liga e marca.</p>

                      </div>
                    </div>
                    <!-- .et_pb_blurb_content -->
                  </div>
                  <!-- .et_pb_blurb -->
                  <div class="et_pb_blurb et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_blurb_14 et_pb_blurb_position_left">
                    <div class="et_pb_blurb_content">

                      <div class="et_pb_blurb_container">
                        <h4>Quando devo visitar o dentista?</h4>

                        <p>É recomendável que você visite o dentista a cada 6 meses para realizar atividades de prevenção. Não
                          deixe de lado a sua saúde bucal!</p>

                      </div>
                    </div>
                    <!-- .et_pb_blurb_content -->
                  </div>
                  <!-- .et_pb_blurb -->
                </div>
                <!-- .et_pb_column -->
                <div class="et_pb_column et_pb_column_1_3  et_pb_column_21">

                  <div class="et_pb_blurb et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_blurb_15 et_pb_blurb_position_left">
                    <div class="et_pb_blurb_content">

                      <div class="et_pb_blurb_container">
                        <h4>Posso contratar mais um plano AB Dental para alguém que conheço?</h4>

                        <p>Sim, <a href="#" id="pedidoSac">clique aqui</a>. Nós ligaremos o quanto antes. Tenha em mãos o seu
                          CEP e CPF. É simples, rápido e seguro.</p>

                      </div>
                    </div>
                    <!-- .et_pb_blurb_content -->
                  </div>
                  <!-- .et_pb_blurb -->
                  <div class="et_pb_blurb et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_blurb_16 et_pb_blurb_position_left">
                    <div class="et_pb_blurb_content">

                      <div class="et_pb_blurb_container">
                        <h4>Cobre implante? Cobre aparelho?</h4>

                        <p>Este plano cobre quase 200 procedimentos, mas infelizmente não cobre implante e nem aparelho.</p>

                      </div>
                    </div>
                    <!-- .et_pb_blurb_content -->
                  </div>
                  <!-- .et_pb_blurb -->
                  <div class="et_pb_blurb et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_blurb_17 et_pb_blurb_position_left">
                    <div class="et_pb_blurb_content">

                      <div class="et_pb_blurb_container">
                        <h4>Preciso assinar contrato?</h4>

                        <p>O contrato é realizado por ligação gravada. Além disso você receberá o link do contrato escrito por
                          e-mail e SMS logo após a contratação telefônica.</p>

                      </div>
                    </div>
                    <!-- .et_pb_blurb_content -->
                  </div>
                  <!-- .et_pb_blurb -->
                </div>
                <!-- .et_pb_column -->

              </div>
              <!-- .et_pb_row -->

            </div>
            <!-- .et_pb_section -->
            <span class="et_bloom_bottom_trigger"></span> </div>
          <!-- .entry-content -->


        </article>
        <!-- .et_pb_post -->



      </div>
      <!-- #main-content -->


      <footer id="main-footer">



        <div id="footer-bottom">
          <div class="container clearfix">
            <ul class="et-social-icons">

              <li class="et-social-icon et-social-facebook">
                <a href="#" class="icon">
                  <span>Facebook</span>
                </a>
              </li>
              <li class="et-social-icon et-social-twitter">
                <a href="#" class="icon">
                  <span>Twitter</span>
                </a>
              </li>
              <li class="et-social-icon et-social-google-plus">
                <a href="#" class="icon">
                  <span>Google</span>
                </a>
              </li>
              <li class="et-social-icon et-social-rss">
                <a href="http://agentebrasil.com/word2/wordpress/index.php/feed/" class="icon">
                  <span>RSS</span>
                </a>
              </li>

            </ul>
          </div>
          <!-- .container -->
        </div>
      </footer>
      <!-- #main-footer -->
    </div>
    <!-- #et-main-area -->


  </div>
  <!-- #page-container -->
  <style type="text/css" id="et-builder-advanced-style">
    .et_pb_cta_14.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-size: 15px;
      line-height: 1.4em;
    }
    
    body #page-container .et_pb_cta_14.et_pb_promo .et_pb_button {
      color: #ffffff !important;
      border-radius: 30px;
      letter-spacing: 0px;
      font-size: 18px;
    }
    
    body #page-container .et_pb_cta_14.et_pb_promo .et_pb_button:hover {
      letter-spacing: 0;
      padding-left: 0.7em;
      padding-right: 2em;
    }
    
    body #page-container .et_pb_cta_14.et_pb_promo .et_pb_button:hover:after {
      opacity: 1;
    }
    
    .et_pb_cta_14.et_pb_promo p {
      line-height: 1.4em;
    }
    
    .et_pb_cta_14.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: bold !important;
      font-size: 20px !important;
      line-height: 1.4em !important;
    }
    
    .et_pb_cta_13.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-size: 46px;
      line-height: 1.1em;
    }
    
    .et_pb_blurb_7.et_pb_blurb h4,
    .et_pb_blurb_7.et_pb_blurb h4 a {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 1.5em;
    }
    
    .et_pb_blurb_7.et_pb_blurb {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-size: 15px;
    }
    
    body #page-container .et_pb_cta_14.et_pb_promo .et_pb_button:after {
      font-size: 28.8px;
      opacity: 0;
      display: inline-block;
    }
    
    body.et_button_custom_icon #page-container .et_pb_cta_14.et_pb_promo .et_pb_button:after {
      font-size: 18px;
    }
    
    .et_pb_cta_15.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-size: 15px;
      line-height: 1.4em;
    }
    
    body #page-container .et_pb_cta_15.et_pb_promo .et_pb_button {
      color: #ffffff !important;
      background: #687b85;
      border-color: #687b85;
      border-radius: 30px;
      letter-spacing: 0px;
      font-size: 18px;
    }
    
    body #page-container .et_pb_cta_15.et_pb_promo .et_pb_button:hover {
      letter-spacing: 0;
      padding-left: 0.7em;
      padding-right: 2em;
    }
    
    body #page-container .et_pb_cta_15.et_pb_promo .et_pb_button:hover:after {
      opacity: 1;
    }
    
    .et_pb_cta_15.et_pb_promo p {
      line-height: 1.4em;
    }
    
    .et_pb_cta_15.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: bold !important;
      font-size: 20px !important;
      line-height: 1.4em !important;
    }
    
    .et_pb_divider_8 {
      height: 50px;
    }
    
    .et_pb_blurb_8.et_pb_blurb h4,
    .et_pb_blurb_8.et_pb_blurb h4 a {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 1.5em;
    }
    
    .et_pb_blurb_8.et_pb_blurb {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-size: 15px;
    }
    
    .et_pb_cta_13.et_pb_promo p {
      line-height: 1.1em;
    }
    
    .et_pb_cta_13.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: 300;
      font-size: 46px !important;
      line-height: 1.1em !important;
    }
    
    .et_pb_cta_9.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: 300;
      font-size: 46px !important;
      color: #4c4c4c !important;
      line-height: 1.1em !important;
    }
    
    .et_pb_cta_9.et_pb_promo p {
      line-height: 1.1em;
    }
    
    .et_pb_cta_9.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-size: 46px;
      color: #4c4c4c !important;
      line-height: 1.1em;
    }
    
    .et_pb_cta_10.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: 300;
      font-size: 46px !important;
      color: #4c4c4c !important;
      line-height: 1.1em !important;
    }
    
    .et_pb_divider_6 {
      height: 5px;
    }
    
    .et_pb_cta_8.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-size: 47px;
      color: #4c4c4c !important;
      line-height: 1.1em;
    }
    
    .et_pb_image_0 {
      margin-left: 0;
    }
    
    .et_pb_cta_8.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: bold !important;
      font-size: 36px !important;
      color: #4c4c4c !important;
      line-height: 1.1em !important;
    }
    
    .et_pb_cta_8.et_pb_promo p {
      line-height: 1.1em;
    }
    
    .et_pb_cta_10.et_pb_promo p {
      line-height: 1.1em;
    }
    
    .et_pb_cta_10.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-size: 46px;
      color: #4c4c4c !important;
      line-height: 1.1em;
    }
    
    .et_pb_cta_12.et_pb_promo p {
      line-height: 1.1em;
    }
    
    .et_pb_cta_12.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-size: 46px;
      color: #4c4c4c !important;
      line-height: 1.1em;
    }
    
    .et_pb_section_6 {
      background-image: url(https://client.agentebrasil.com/images/opt-comemoracao.jpg);
    }
    
    .et_pb_section_6.et_pb_section {
      padding-top: 54px;
      padding-right: 0px;
      padding-bottom: 7px;
      padding-left: 0px;
    }
    
    .et_pb_cta_12.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: 300;
      font-size: 46px !important;
      color: #4c4c4c !important;
      line-height: 1.1em !important;
    }
    
    .et_pb_cta_11.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-size: 46px;
      color: #4c4c4c !important;
      line-height: 1.1em;
    }
    
    .et_pb_divider_7 {
      height: 25px;
    }
    
    .et_pb_cta_11.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: 300;
      font-size: 46px !important;
      color: #4c4c4c !important;
      line-height: 1.1em !important;
    }
    
    .et_pb_cta_11.et_pb_promo p {
      line-height: 1.1em;
    }
    
    body #page-container .et_pb_cta_15.et_pb_promo .et_pb_button:after {
      font-size: 28.8px;
      opacity: 0;
      display: inline-block;
    }
    
    body.et_button_custom_icon #page-container .et_pb_cta_15.et_pb_promo .et_pb_button:after {
      font-size: 18px;
    }
    
    .et_pb_blurb_13.et_pb_blurb h4,
    .et_pb_blurb_13.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_13.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_13 .et_pb_main_blurb_image img {
      max-width: 90px;
    }
    
    .et_pb_blurb_14.et_pb_blurb h4,
    .et_pb_blurb_14.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_12 .et_pb_main_blurb_image img {
      max-width: 90px;
    }
    
    .et_pb_blurb_12.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_11.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_11 .et_pb_main_blurb_image img {
      max-width: 90px;
    }
    
    .et_pb_blurb_12.et_pb_blurb h4,
    .et_pb_blurb_12.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_14.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_14 .et_pb_main_blurb_image img {
      max-width: 90px;
    }
    
    .et_pb_blurb_16 .et_pb_main_blurb_image img {
      max-width: 90px;
    }
    
    .et_pb_blurb_17.et_pb_blurb h4,
    .et_pb_blurb_17.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_17.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_17 .et_pb_main_blurb_image img {
      max-width: 90px;
    }
    
    .et_pb_blurb_16.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_16.et_pb_blurb h4,
    .et_pb_blurb_16.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_15.et_pb_blurb h4,
    .et_pb_blurb_15.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_15.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_15 .et_pb_main_blurb_image img {
      max-width: 90px;
    }
    
    .et_pb_blurb_11.et_pb_blurb h4,
    .et_pb_blurb_11.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_10 .et_pb_main_blurb_image img {
      max-width: 90px;
    }
    
    .et_pb_cta_16.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-size: 15px;
      line-height: 1.4em;
    }
    
    body #page-container .et_pb_cta_16.et_pb_promo .et_pb_button {
      color: #ffffff !important;
      background: #687b85;
      border-color: #687b85;
      border-radius: 30px;
      letter-spacing: 0px;
      font-size: 18px;
    }
    
    body #page-container .et_pb_cta_16.et_pb_promo .et_pb_button:hover {
      letter-spacing: 0;
      padding-left: 0.7em;
      padding-right: 2em;
    }
    
    body #page-container .et_pb_cta_16.et_pb_promo .et_pb_button:hover:after {
      opacity: 1;
    }
    
    .et_pb_cta_16.et_pb_promo p {
      line-height: 1.4em;
    }
    
    .et_pb_cta_16.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: bold !important;
      font-size: 20px !important;
      line-height: 1.4em !important;
    }
    
    .et_pb_divider_9 {
      height: 50px;
    }
    
    .et_pb_blurb_9.et_pb_blurb h4,
    .et_pb_blurb_9.et_pb_blurb h4 a {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 1.5em;
    }
    
    .et_pb_blurb_9.et_pb_blurb {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-size: 15px;
    }
    
    body #page-container .et_pb_cta_16.et_pb_promo .et_pb_button:after {
      font-size: 28.8px;
      opacity: 0;
      display: inline-block;
    }
    
    body.et_button_custom_icon #page-container .et_pb_cta_16.et_pb_promo .et_pb_button:after {
      font-size: 18px;
    }
    
    .et_pb_row_12.et_pb_row {
      padding-top: 30px;
      padding-right: 0px;
      padding-bottom: 31px;
      padding-left: 0px;
    }
    
    .et_pb_blurb_10.et_pb_blurb h4,
    .et_pb_blurb_10.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_blurb_10.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-size: 12px;
      color: #ccd7e2 !important;
    }
    
    .et_pb_cta_17.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-size: 30px;
      line-height: 1.1em;
    }
    
    .et_pb_cta_17.et_pb_promo p {
      line-height: 1.1em;
    }
    
    .et_pb_section_7.et_pb_section {
      background-color: #045593 !important;
      padding-top: 65px;
      padding-right: 0px;
      padding-bottom: 54px;
      padding-left: 0px;
    }
    
    .et_pb_row_11.et_pb_row {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
    
    .et_pb_cta_17.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: bold !important;
      font-size: 46px !important;
      line-height: 1.1em !important;
    }
    
    .et_pb_cta_7 {
      max-width: 700px;
    }
    
    body.et_button_custom_icon #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:after {
      font-size: 18px;
    }
    
    .et_pb_number_counter_1.et_pb_number_counter h3 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 46px;
    }
    
    .et_pb_number_counter_1.et_pb_number_counter .percent p {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 100px;
    }
    
    .et_pb_row_4.et_pb_row {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 45px;
      padding-left: 0px;
    }
    
    .et_pb_cta_3.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-size: 30px !important;
      line-height: 1.4em !important;
    }
    
    .et_pb_divider_1 {
      height: 25px;
    }
    
    .et_pb_number_counter_0.et_pb_number_counter .percent p {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 100px;
    }
    
    .et_pb_divider_0 {
      height: 15px;
    }
    
    .et_pb_row_3.et_pb_row {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 11px;
      padding-left: 0px;
    }
    
    .et_pb_number_counter_0.et_pb_number_counter h3 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 46px;
    }
    
    .et_pb_cta_3.et_pb_promo p {
      line-height: 1.2em;
    }
    
    .et_pb_cta_3.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-size: 22px;
      line-height: 1.2em;
    }
    
    .et_pb_row_5.et_pb_row {
      padding-top: 20px;
      padding-right: 0px;
      padding-bottom: 27px;
      padding-left: 0px;
    }
    
    .et_pb_cta_4.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: bold !important;
      font-size: 36px !important;
      color: #4c4c4c !important;
      line-height: 1.1em !important;
    }
    
    .et_pb_cta_4.et_pb_promo p {
      line-height: 1.1em;
    }
    
    .et_pb_cta_4.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-weight: bold;
      font-size: 36px;
      color: #4c4c4c !important;
      line-height: 1.1em;
    }
    
    body.et_button_custom_icon #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:after {
      font-size: 18px;
    }
    
    body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:after {
      font-size: 28.8px;
      opacity: 0;
      display: inline-block;
    }
    
    body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button {
      color: #ffffff !important;
      background: #b49030;
      border-width: 5px !important;
      border-color: #b49030;
      border-radius: 30px;
      letter-spacing: 0px;
      font-size: 18px;
    }
    
    body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:hover {
      letter-spacing: 0;
      padding-left: 0.7em;
      padding-right: 2em;
    }
    
    body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:hover:after {
      opacity: 1;
    }
    
    .et_pb_cta_2.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-size: 46px;
      line-height: 1.1em;
    }
    
    .et_pb_cta_2.et_pb_promo p {
      line-height: 1.1em;
    }
    
    .et_pb_slide_2.et_pb_slider_with_text_overlay .et_pb_slide_content {
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    
    .et_pb_fullwidth_slider_0 .et_pb_slide_description {
      padding-top: 150px;
    }
    
    .et_pb_section_1.et_pb_section {
      background-color: #023c68 !important;
      padding-top: 37px;
      padding-right: 0px;
      padding-bottom: 16px;
      padding-left: 0px;
    }
    
    .et_pb_cta_0.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: 300;
      font-size: 45px !important;
      color: #4c4c4c !important;
      line-height: 1.1em !important;
    }
    
    .et_pb_slide_2.et_pb_slider_with_text_overlay h2.et_pb_slide_title {
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    
    .et_pb_slide_1.et_pb_slider_with_text_overlay .et_pb_slide_content {
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    
    .et_pb_slide_0.et_pb_slider_with_text_overlay h2.et_pb_slide_title {
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    
    .et_pb_slide_0.et_pb_slider_with_text_overlay .et_pb_slide_content {
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    
    .et_pb_slide_1.et_pb_slider_with_text_overlay h2.et_pb_slide_title {
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    
    .et_pb_cta_0.et_pb_promo p {
      line-height: 1.1em;
    }
    
    .et_pb_cta_0.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-size: 45px;
      color: #b49030 !important;
      line-height: 1.1em;
    }
    
    .et_pb_section_3.et_pb_section {
      background-color: #f9f9f9 !important;
      padding-top: 64px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
    
    .et_pb_row_2.et_pb_row {
      padding-top: 3px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
    
    .et_pb_cta_2.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: 300;
      font-size: 46px !important;
      line-height: 1.1em !important;
    }
    
    .et_pb_cta_1.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-size: 30px;
      line-height: 1.1em;
    }
    
    .et_pb_cta_1.et_pb_promo p {
      line-height: 1.1em;
    }
    
    .et_pb_section_2.et_pb_section {
      background-color: #b49030 !important;
      padding-top: 20px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
    
    .et_pb_row_1.et_pb_row {
      padding-top: 27px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
    
    .et_pb_cta_1.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: bold !important;
      font-size: 46px !important;
      line-height: 1.1em !important;
    }
    
    .et_pb_blurb_0.et_pb_blurb h4,
    .et_pb_blurb_0.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      color: #4c4c4c !important;
      line-height: 1.4em;
    }
    
    .et_pb_blurb_0.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    }
    
    body.et_button_custom_icon #page-container .et_pb_button_0:after {
      font-size: 20px;
    }
    
    .et_pb_section_5.et_pb_section {
      background-color: #f9f9f9 !important;
    }
    
    .et_pb_cta_5.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: bold !important;
      font-size: 36px !important;
      color: #4c4c4c !important;
      line-height: 1.1em !important;
    }
    
    .et_pb_cta_5.et_pb_promo p {
      line-height: 1.1em;
    }
    
    body #page-container .et_pb_button_0:after {
      font-size: 32px;
      opacity: 0;
      display: inline-block;
    }
    
    body #page-container .et_pb_button_0:hover:after {
      opacity: 1;
    }
    
    .et_pb_number_counter_2.et_pb_number_counter .percent p {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 100px;
    }
    
    body #page-container .et_pb_button_0 {
      color: #ffffff !important;
      background: #8300e9;
      border-width: 9px !important;
      border-color: #8300e9;
      border-radius: 83px;
      font-size: 20px;
    }
    
    body #page-container .et_pb_button_0:hover {
      border-radius: 41px;
      letter-spacing: 0;
      padding-left: 0.7em;
      padding-right: 2em;
    }
    
    .et_pb_cta_5.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-weight: bold;
      font-size: 36px;
      color: #4c4c4c !important;
      line-height: 1.1em;
    }
    
    .et_pb_cta_6.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: bold !important;
      font-size: 46px !important;
      color: #4c4c4c !important;
      line-height: 1.1em !important;
    }
    
    body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button {
      color: #ffffff !important;
      background: #83da16;
      border-radius: 30px;
      letter-spacing: 0px;
      font-size: 18px;
    }
    
    body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:hover {
      letter-spacing: 0;
      padding-left: 0.7em;
      padding-right: 2em;
    }
    
    body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:hover:after {
      opacity: 1;
    }
    
    body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:after {
      font-size: 28.8px;
      opacity: 0;
      display: inline-block;
    }
    
    .et_pb_cta_7.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-size: 15px;
      color: #4c4c4c !important;
      line-height: 1.4em;
    }
    
    .et_pb_cta_7.et_pb_promo p {
      line-height: 1.4em;
    }
    
    .et_pb_cta_6.et_pb_promo p {
      line-height: 1.1em;
    }
    
    .et_pb_cta_6.et_pb_promo {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-size: 46px;
      color: #4c4c4c !important;
      line-height: 1.1em;
    }
    
    .et_pb_cta_7.et_pb_promo h2 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif !important;
      font-weight: bold !important;
      font-size: 20px !important;
      color: #4c4c4c !important;
      line-height: 1.4em !important;
    }
    
    .et_pb_number_counter_2.et_pb_number_counter h3 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      font-size: 46px;
    }
    
    .et_pb_divider_5 {
      height: 10px;
    }
    
    .et_pb_blurb_2.et_pb_blurb h4,
    .et_pb_blurb_2.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      color: #4c4c4c !important;
      line-height: 1.4em;
    }
    
    .et_pb_blurb_2.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    }
    
    .et_pb_blurb_2 .et_pb_main_blurb_image img {
      max-width: 90px;
    }
    
    .et_pb_blurb_3.et_pb_blurb h4,
    .et_pb_blurb_3.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      color: #4c4c4c !important;
      line-height: 1.4em;
    }
    
    .et_pb_blurb_1 .et-pb-icon {
      font-size: 17px;
    }
    
    .et_pb_blurb_1.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    }
    
    .et_pb_blurb_0 .et_pb_main_blurb_image img {
      max-width: 90px;
    }
    
    .et_pb_divider_2 {
      height: 5px;
    }
    
    .et_pb_blurb_1.et_pb_blurb h4,
    .et_pb_blurb_1.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      color: #4c4c4c !important;
      line-height: 1.4em;
    }
    
    .et_pb_blurb_3.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    }
    
    .et_pb_blurb_3 .et_pb_main_blurb_image img {
      max-width: 90px;
    }
    
    .et_pb_blurb_5 .et_pb_main_blurb_image img {
      max-width: 90px;
    }
    
    .et_pb_blurb_6.et_pb_blurb h4,
    .et_pb_blurb_6.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      color: #4c4c4c !important;
      line-height: 1.4em;
    }
    
    .et_pb_blurb_6.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    }
    
    .et_pb_blurb_5.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    }
    
    .et_pb_blurb_5.et_pb_blurb h4,
    .et_pb_blurb_5.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      color: #4c4c4c !important;
      line-height: 1.4em;
    }
    
    .et_pb_blurb_4.et_pb_blurb h4,
    .et_pb_blurb_4.et_pb_blurb h4 a {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
      font-weight: bold;
      color: #4c4c4c !important;
      line-height: 1.4em;
    }
    
    .et_pb_blurb_4.et_pb_blurb {
      font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    }
    
    .et_pb_blurb_4 .et_pb_main_blurb_image img {
      max-width: 90px;
    }
    
    .et_pb_section_0.et_pb_section {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
    
    @media only screen and ( min-width: 981px) {
      .et_pb_fullwidth_image_0 {
        display: none !important;
      }
    }
    
    @media only screen and ( max-width: 980px) {
      body #page-container .et_pb_cta_15.et_pb_promo .et_pb_button,
      body #page-container .et_pb_cta_15.et_pb_promo .et_pb_button:after {}
      body #page-container .et_pb_cta_16.et_pb_promo .et_pb_button,
      body #page-container .et_pb_cta_16.et_pb_promo .et_pb_button:after {}
      body #page-container .et_pb_cta_14.et_pb_promo .et_pb_button,
      body #page-container .et_pb_cta_14.et_pb_promo .et_pb_button:after {}
      body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button,
      body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:after {}
      body #page-container .et_pb_button_0,
      body #page-container .et_pb_button_0:after {}
      body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button,
      body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:after {}
    }
    
    @media only screen and ( min-width: 768px) and ( max-width: 980px) {
      .et_pb_fullwidth_image_0 {
        display: none !important;
      }
    }
    
    @media only screen and ( max-width: 767px) {
      body #page-container .et_pb_cta_15.et_pb_promo .et_pb_button,
      body #page-container .et_pb_cta_15.et_pb_promo .et_pb_button:after {}
      body #page-container .et_pb_cta_16.et_pb_promo .et_pb_button,
      body #page-container .et_pb_cta_16.et_pb_promo .et_pb_button:after {}
      body #page-container .et_pb_cta_14.et_pb_promo .et_pb_button,
      body #page-container .et_pb_cta_14.et_pb_promo .et_pb_button:after {}
      body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button,
      body #page-container .et_pb_cta_7.et_pb_promo .et_pb_button:after {}
      body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button,
      body #page-container .et_pb_cta_3.et_pb_promo .et_pb_button:after {}
      body #page-container .et_pb_button_0,
      body #page-container .et_pb_button_0:after {}
      .et_pb_fullwidth_slider_0 {
        display: none !important;
      }
    }
    
    #page-container {
      padding-top: 0px !important;
    }
  </style>
  <style type="text/css" id="et-builder-page-custom-style">
    .et_pb_bg_layout_dark {
      color: #ffffff !important;
    }
    
    .page.et_pb_pagebuilder_layout #main-content {
      background-color: rgba(255, 255, 255, 0);
    }
    
    .et_pb_section {
      background-color: #ffffff;
    }
  </style>
  <link rel='stylesheet' id='et_bloom-css-css' href='http://agentebrasil.com/word2/wordpress/wp-content/plugins/bloom/css/style.css?ver=1.1.8'
    type='text/css' media='all' />
  <script>
    var et_pb_custom = {
      "ajaxurl": "http:\/\/agentebrasil.com\/word2\/wordpress\/wp-admin\/admin-ajax.php",
      "images_uri": "http:\/\/agentebrasil.com\/word2\/wordpress\/wp-content\/themes\/Divi\/images",
      "builder_images_uri": "http:\/\/agentebrasil.com\/word2\/wordpress\/wp-content\/themes\/Divi\/includes\/builder\/images",
      "et_frontend_nonce": "5cec40e29a",
      "subscription_failed": "Please, check the fields below to make sure you entered the correct information.",
      "et_ab_log_nonce": "b24a6bf370",
      "fill_message": "Please, fill in the following fields:",
      "contact_error_message": "Please, fix the following errors:",
      "invalid": "Invalid email",
      "captcha": "Captcha",
      "prev": "Prev",
      "previous": "Previous",
      "next": "Next",
      "wrong_captcha": "You entered the wrong number in captcha.",
      "is_builder_plugin_used": "",
      "ignore_waypoints": "no",
      "is_divi_theme_used": "1",
      "widget_search_selector": ".widget_search",
      "is_ab_testing_active": "",
      "page_id": "1307",
      "unique_test_id": "",
      "ab_bounce_rate": "5",
      "is_cache_plugin_active": "no",
      "is_shortcode_tracking": ""
    };
  </script>
  <script>
    $('.et_pb_toggle').on('click', function (e) {
      $('.et_pb_toggle').removeClass('et_pb_toggle_open');
      $('.et_pb_toggle').addClass('et_pb_toggle_close');
      $(this).addClass('et_pb_toggle_open');
      $(this).removeClass('et_pb_toggle_close');
    }).fadeIn("slow");
    var ajaxEmailSac = function () {

      var cpf = window.location.href.split('/').reverse()[0];
      var objectSave = {
        "canal_id": "1",
        "destinatario_email": "sac@agentebrasil.com.br",
        "destinatario_fone": "48999999999",
        "destinatario_nome": "Área do Cliente",
        "mensagem": "Cliente de CPF " + cpf + " solicita  um novo plano",
        "produto_nome_email": "MetLife",
        "remetente_email": "noreply@agentebrasil.com",
        "remetente_nome": "AgenteBrasil",
        "subject": "Pedido de Novo beneficiario CPF : " + cpf
      };
      var settings = {
        "url": "http://contact.agentebrasil.com/contact/contact/store-regua",
        "method": "POST",
        "data": objectSave
      }
      $.ajax(settings).done(function (response) {
        console.log(response);
      });
    };

    $(document).on('click', '#pedidoSac', function (e) {
      e.preventDefault();
      ajaxEmailSac();
      alert('Contato registrado! Ligaremos para você!');
    });

    $(document).on('click', '#pedidoSac_', function (e) {
      e.preventDefault();
      ajaxEmailSac();
      alert('Contato registrado! Ligaremos para você!');
    });
  </script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/scripts/frontend-builder-global-functions.js?ver=3.0.34'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/plugins/monarch/js/idle-timer.min.js?ver=1.3.2'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/plugins/monarch/js/custom.js?ver=1.3.2'></script>
  <link rel='stylesheet' id='et_monarch-css-css' href='http://agentebrasil.com/word2/wordpress/wp-content/plugins/monarch/css/style.css?ver=1.3.2'
    type='text/css' media='all' />
  <link rel='stylesheet' id='divi-style-css' href='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/style.css?ver=3.0.34'
    type='text/css' media='all' /> {{!--
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/scripts/jquery.mobile.custom.min.js?ver=3.0.34'></script>--}}
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/js/custom.js?ver=3.0.34'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/scripts/jquery.fitvids.js?ver=3.0.34'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/scripts/waypoints.min.js?ver=3.0.34'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/scripts/jquery.magnific-popup.js?ver=3.0.34'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/scripts/frontend-builder-scripts.js?ver=3.0.34'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/scripts/jquery.easypiechart.js?ver=3.0.34'></script>
</body>